<!-- Header -->
<div class="header">
  <!-- <div class="container"> -->
<nav class="header_nav">
  <div class="row header_row">
    <div class="col-md-3 header_name">
      <i style="font-size: 40px;" class="fas fa-paw">&nbsp;</i>
      <strong style="color:white; font-size:30px;">Pets' Paradise</strong>
    </div>
    <div class="col-md-9 header_links_names">
      <div class="header_right">
        <ul>
          <li class="header_links">
            <a class="active" href="#home">HOME</a>
          </li>
          <li class="header_links">
            <a href="#Sellonpetparadise">SELL ON PETS' PARADISE</a>
          </li>  
          <li class="header_links">
            <a href="#signup">SIGN UP</a>
          </li>
          <li class="header_links">
            <a href="#login">LOGIN</a>
          </li>
          <li class="header_links">
            <i style="font-size: 30px;" class="fas fa-shopping-cart">&nbsp;</i>
          </li>
        </ul>
      </div>
    </div>
   </div>
</nav> 
<!-- </div> -->
</div>

  <!-- content -->
  <div class="content">
    <div class="row">
        <div class="col-md-2"> 
        </div>
        <div class="col-md-8 privacypolicy">
          <h5 style="text-align: center;">PRIVACY POLICY</h5><br>
          <h6>This privacy policies are applicable for Pets' Paradise Website.</h6><br>
          <li>Website may use your personal information for some reasons.</li><br>
          <li>To get better understand about how visitors use the Site and make improvements.</li><br>  
          <li>To protect the security or integrity of the Site if necessary.</li><br>
          <li>To send notices to promote web site's business and various products.</li><br>

        </div>
        <div class="col-md-2"></div>
    </div>
  </div>


<!-- Footer -->
<footer class="page-footer pt-4 footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left footer_links">

    <!-- Grid row -->
    <div class="row grid_row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto grid_col">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pets' Paradise</h5>
        <p style="color: white;">Pets' Paradise website is designed for pets and pets’ accessories sellers and for customers who are looking for buying pets and accessories for their pets.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto footer_topics">

        <!-- Links -->
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li style="color: white;">
            Phone : +94 777 777 777
          </li>
           <li style="color: white;">
            Fax : +94 777 777 777 <br>
           </li> 
           <li style="color: white;">
            E-mail : petsparalk@gmail.com
           </li>
           
        </ul>
          
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto footer_topics">

        <!-- Links -->
        <h5>Buy Now</h5>

        <ul class="list-unstyled">
          <li><a routerLink="#"  style="color: white; text-decoration: none;">Pets</a></li><br>
          <li><a routerLink="#" style="color: white; text-decoration: none;">Pets Accessories</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto footer_topics">

        <!-- Links -->
        <h5>Policy</h5>

        <ul class="list-unstyled">
          <li><a routerLink="/termsconditions" style="color: white; text-decoration: none;">Terms & Conditions</a></li><br>
          <li><a routerLink="/privacypolicy" style="color: white; text-decoration: none;">Privacy Policy</a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1" style="color: white;">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  

  <!-- Copyright -->
  <div class="footer-copyright text-center" style="color: white; padding-bottom: 50px;">© 2021 Copyright : Pets' Paradise
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->