<!-- Header -->
<div class="header">
  <!-- <div class="container"> -->
<nav class="header_nav">
  <div class="row header_row">
    <div class="col-md-3 header_name">
      <i style="font-size: 40px;" class="fas fa-paw">&nbsp;</i>
      <strong style="color:white; font-size:30px;">Pets' Paradise</strong>
    </div>
    <div class="col-md-9 header_links_names">
      <div class="header_right">
        <ul>
          <li class="header_links">
            <a class="active" href="#home">HOME</a>
          </li>
          <li class="header_links">
            <a href="#Sellonpetparadise">SELL ON PETS' PARADISE</a>
          </li>  
          <li class="header_links">
            <a href="#signup">SIGN UP</a>
          </li>
          <li class="header_links">
            <a href="#login">LOGIN</a>
          </li>
          <li class="header_links">
            <i style="font-size: 30px;" class="fas fa-shopping-cart">&nbsp;</i>
          </li>
        </ul>
      </div>
    </div>
   </div>
</nav> 
<!-- </div> -->
</div>

  <!-- content -->
  <div class="content">
    <div class="row">
        <div class="col-md-2"> 
        </div>
        <div class="col-md-8 contactus">
          <h5 style="margin-bottom: 30px;">CONTACT US</h5>
          <p>Hotline : +94 77 777 777</p><br>
          <p>Fax : +94 77 777 777</p><br>
          <p>E-mail : petsparalk@gmail.com</p>

        </div>
        <div class="col-md-2"></div>
    </div>
  </div>

<!-- footer -->
<div class ="footer">
  <div class="container">
    <div class="row footer_row">
      <div class="col-md-3">
        <h6 class="footer_topic">Buy Now</h6><br>
          <li class="footer_li"><a href="#" class="footer_link">PETS</a></li><br>
          <li class="footer_li"><a href="#" class="footer_link">PETS'S ACCESSORIES</a></li><br>
      </div>
      <div class="col-md-3">
        <h6 class="footer_topic">About</h6><br>
        <li class="footer_li"><a routerLink="/aboutus" class="footer_link">ABOUT US</a></li><br>
        <li class="footer_li"><a routerLink="/contactus" class="footer_link">CONTACT US</a></li><br>
      </div>
      <div class="col-md-3">    
        <h6 class="footer_topic">Policy</h6><br>
        <li class="footer_li"><a routerLink="/termsconditions" class="footer_link">TERMS & CONDITIONS</a></li><br>
        <li class="footer_li"><a routerLink="/privacypolicy" class="footer_link">PRIVACY POLICY</a></li><br>
      </div>        
      <div class="col-md-3">    
        <h6 class="footer_topic">My Paradise</h6><br>
        <li class="footer_li"><a href="#" class="footer_link">SIGN IN / LOGIN</a></li><br>
      </div>         
    </div>
    <div class="row" >
      <p>@2021Pets' Paradise. All Rights Reserved</p>
    </div>
  </div>
</div>
