<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand">View Stoes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/seller-dashboard">Seller Dashboard <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2 style="margin-top: 50px;">View List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Store Name</th>
        <th>Date Created</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let store of store">
        <td><button type="button" class="btn btn-primary"
            (click)="setSelectedStore($event, store)">{{store.storeName}}</button></td>
        <!-- <span class="oi oi-delete"></span>
            <i class="fa fa-pencil" aria-hidden="true"></i> -->
        <td> {{store.dateCreated}} </td>
      </tr>
    </tbody>
  </table>

</div>