.card-login{
    margin-top: 300px;
    margin-left: 100px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

.card-signup{
    margin-top: 750px;
    margin-bottom: 200px;
    margin-left: 200px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

.card h1,
h4 {
    color: #fff;
}

.card,
h1{
    color: #fff;
}


label {
    color: #fff;
}