<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="">
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary" style="text-align: right;">Logout</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="border: 1px solid black; margin: 10px; height: 500px;">

        </div>

        <div class="col-md-3" style="border: 1px solid black; margin: 10px; height: 500px;"></div>

        <div class="col-md-3" style="border: 1px solid black; margin: 10px; height: 500px;"></div>

        <div class="col-md-3" style="border: 1px solid black; margin: 10px; height: 500px;"></div>
    </div>
</div>